@model Juqian.Winxin.Models.WeiXinClickMenuItemPart

<fieldset>
    <div>
        @Html.LabelFor(m => m.Key, T("事件Key值"))
        @Html.TextBoxFor(m => m.Key, new { @class = "text medium" })
    </div>
</fieldset>
