<MsgType><![CDATA[video]]></MsgType>
<Video>
  <MediaId><![CDATA[@Model.ContentItem.WXVideoMsg.WXMsgVideoMediaIdField.Value]]></MediaId>
  <Title><![CDATA[@Model.ContentItem.WXVideoMsg.WXMsgVideoTitleField.Value]]></Title>
  <Description><![CDATA[@Model.ContentItem.WXVideoMsg.WXMsgVideoDescField.Value]]></Description>
</Video>