<MsgType><![CDATA[music]]></MsgType>
<Music>
  <Title><![CDATA[@(Model.ContentItem.WXMusicMsg.WXMsgMusicTitleField.Value)]]></Title>
  <Description><![CDATA[@(Model.ContentItem.WXMusicMsg.WXMsgMusicDescField.Value)]]></Description>
  <MusicUrl><![CDATA[@(Model.ContentItem.WXMusicMsg.WXMsgMusicUrlField.Value)]]></MusicUrl>
  <HQMusicUrl><![CDATA[@(Model.ContentItem.WXMusicMsg.WXMsgHQMusicUrlField.Value)]]></HQMusicUrl>
  <ThumbMediaId><![CDATA[@(Model.ContentItem.WXMusicMsg.WXMsgMusicThumbMediaIdField.Value)]]></ThumbMediaId>
</Music>